trunk/routingWebServiceProof/routingWebServiceProof/Service References/RoutingWebService/Truckstop2.Objects.GeoObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Truckstop2.Objects.GeoObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Truckstop2.Objects.GeoObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFuelstop">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fuelstop" nillable="true" type="tns:Fuelstop" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuelstop" nillable="true" type="tns:ArrayOfFuelstop" />
  <xs:complexType name="Fuelstop">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExitLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fuelstop" nillable="true" type="tns:Fuelstop" />
</xs:schema>