branches/MigratingToAndroid/routingWebServiceProof/routingWebServiceProof/Service References/RoutingWebService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/RoutingWebService" />
  <xs:element name="GetRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RoutingWebService" minOccurs="0" name="request" nillable="true" type="q1:RouteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RoutingWebService" minOccurs="0" name="GetRouteResult" nillable="true" type="q2:RouteReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>