routingWebServiceProof/SearchingProof/Service References/Searching/LoadSearch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webservices.truckstop.com/V2/Searching/LoadSearch.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Truckstop2.Objects" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element name="IntegrationId" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="ReturnBase">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Truckstop2.Objects" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnBase" nillable="true" type="tns:ReturnBase" />
</xs:schema>